.mdc-image-list__item {
	margin: 0;
}

.mdc-image-list__item-wrap {
	display: block;
	text-decoration: none !important;
}

.mdc-image-list__image {
	border-radius: var(--mdc-image-list-radius, 4px);
}

.mdc-image-list--with-text-protection .mdc-image-list__supporting {
	border-bottom-left-radius: var(--mdc-image-list-radius, 4px);
	border-bottom-right-radius: var(--mdc-image-list-radius, 4px);
}

.mdc-image-list__image-aspect-container .mdc-image-list__image {
	object-fit: cover;
}
