/*
 * Put Block Editor CSS here.
 */

@import "./base/variables.css";
@import "./conf/index.css";
@import "./components/masonry-grid.css";
@import "./overrides.css";
@import "./material-components.css";

@media (min-width: 600px) {

	.block-editor-url-input {
		max-width: 300px;
	}
}

.block-editor-block-types-list__item[class*="editor-block-list-item-material-"],
.editor-autocompleters__block {

	& .material-icons-outlined,
	& .material-icons__button {
		color: #512da8;
	}
}

.block-editor-inserter__popover .material-logo-svg {
	margin-left: 8px;
}

[class^="wp-block-material-"] .components-placeholder.components-placeholder {
	box-shadow: none;
}

.components-placeholder__label .material-icons-outlined {
	margin-right: 12px;
}
