/*
 * Put Customize Controls CSS here.
 */

/* Collapsible section */
.control-section-collapse {
	position: static !important;
	transform: none !important;
	transition: height 200ms ease !important;
	border-bottom: none !important;
	overflow: hidden !important;

	&.customize-pane-child {
		padding: 0 12px !important;

		> li:nth-child(2) {
			margin-top: 12px;
		}
	}

	& .accordion-section-title::after {
		content: "\f132" !important;
	}

	&.expanded .accordion-section-title::after {
		content: "\f460" !important;
	}

	& .customize-section-description-container {
		display: none;
	}
}

/* Image Radio Control */
.customize-control-image-radio-wrap {
	display: flex;
	flex-wrap: wrap;
}

.customize-control-image-radio-control {
	box-sizing: border-box;
	flex: 0 50%;
	margin-bottom: 10px;
	padding: 0 6px;

	& img {
		margin-top: 4px;
		width: 100%;
	}
}

/* Material color palette control */


.customize-control-material_color .wp-picker-container {
	display: block;
	width: 100%;

	&.wp-picker-active .mtb-tabs {
		display: flex;
	}

	& .wp-picker-input-wrap {
		display: inline-block;
	}
}

.mtb-tabs {
	display: none;
	margin: 15px 0;
}

.mtb-tab-link {
	display: inline-block;
	width: 50%;
	text-align: center;
	padding: 8px;
	text-decoration: none;
	background-color: #fff;
	border-right: 1px solid #ddd;
	border-bottom: 3px solid transparent;
	color: #555d66;

	&.active,
	&:hover {
		border-bottom-color: #0073aa;
		color: #0073aa;
	}

	&:focus {
		box-shadow: none;
	}
}

.mtb-tab-content {
	display: none;

	&.active {
		display: block;
	}
}
