/*
 * All Frontend CSS.
 */
@import "./material-components.css";
@import "../../src/block-editor/blocks/common-posts-list/style.css";
@import "../../src/block-editor/blocks/card/stlye.css";

.mdc-tab-content {
	display: none;

	&--active {
		display: block;
	}
}

.list-item__link {
	position: absolute;
	width: 100%;
	height: 100%;
	text-decoration: none;
	outline: none;
}

