/*
 * Material components used in the blocks and frontend.
 */

@import "@material/button/dist/mdc.button.css";
@import "@material/card/dist/mdc.card.css";
@import "@material/typography/dist/mdc.typography.css";
@import "@material/layout-grid/dist/mdc.layout-grid.css";
@import "@material/image-list/dist/mdc.image-list.css";

.mdc-image-list__item-wrap {
	text-decoration: none !important;
}

.mdc-image-list__item {
	margin: 0;
}

.mdc-image-list__image-aspect-container .mdc-image-list__image {
	object-fit: cover;
}
