/*
 * Material components used in the blocks and frontend.
 */

@import "@material/button/dist/mdc.button.css";
@import "@material/tab-bar/dist/mdc.tab-bar.css";
@import "@material/tab-scroller/dist/mdc.tab-scroller.css";
@import "@material/tab-indicator/dist/mdc.tab-indicator.css";
@import "@material/tab/dist/mdc.tab.css";
@import "@material/card/dist/mdc.card.css";
@import "@material/layout-grid/dist/mdc.layout-grid.css";
@import "@material/image-list/dist/mdc.image-list.css";
@import "@material/typography/dist/mdc.typography.css";

/* Overrides */

/* @todo move to own file */
.mdc-image-list__item-wrap {
	display: block;
	text-decoration: none !important;
}

/* Image List */
.mdc-image-list__item {
	margin: 0;
}

.mdc-image-list__image-aspect-container .mdc-image-list__image {
	object-fit: cover;
}

.material-icons {
	font-family: var(--mdc-icons-font-family) !important;
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	font-feature-settings: "liga";
	-webkit-font-smoothing: antialiased;
}
