.material-gsm {
	--mdc-typography-headline5-font-family: "Roboto Mono", monospace;
	--mtb-gsm-primary-color: #212121;
	--mtb-gsm-primary-text: #fff;
	--mtb-gsm-background-color: #fff;
	--mtb-gsm-icon-color: #c4c4c4;

	background-color: var(--mtb-gsm-background-color);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	margin-top: 1rem;
	max-width: 1024px;

	& .mdc-layout-grid {
		padding: 0;
	}

	& .mdc-button {
		--mdc-theme-primary: var(--mtb-gsm-primary-color);
		--mdc-theme-on-primary: var(--mtb-gsm-primary-text);
	}

	& h1,
	& h3,
	& h4 {
		margin-top: 0;
	}
}
