.DS_Store
._.DS_Store
.env
.idea
.vscode
logs
material-design.zip
material-design-google.zip
yarn.lock
plugin/assets/css/*
!plugin/assets/css/src/
plugin/assets/js/*
theme/assets/css/*
!theme/assets/css/src/
theme/assets/js/*
bin/local-dev/mysql/
bin/local-dev/wordpress/html/
build/
node_modules/
vendor/
plugin/tests/coverage
plugin/composer*
theme/composer*
