.DS_Store
.env
.idea
composer.lock
material-theme-builder.zip
package-lock.json
assets/css/*
!assets/css/src/
assets/js/*.js
assets/js/*.asset.php
assets/js/*.map
bin/local-dev/mysql/
bin/local-dev/wordpress/html/
build/
node_modules/
tests/coverage
vendor/
