<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>

	<testsuites>
		<testsuite name="Material Theme Builder">
			<directory suffix=".php">./tests/phpunit/</directory>
		</testsuite>
	</testsuites>

	<filter>
		<whitelist processUncoveredFilesFromWhitelist="false">
			<directory suffix=".php">./php</directory>
			<file>material-theme-builder.php</file>
			<file>instance.php</file>
		</whitelist>
	</filter>
</phpunit>
