<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"7em","right":"0px","bottom":"0px","left":"0px"}}},"layout":{"wideSize":"100vw","contentSize":"840px"}} -->
<div class="wp-block-group" style="padding-top:7em;padding-right:0px;padding-bottom:0px;padding-left:0px"><!-- wp:post-featured-image /-->

	<!-- wp:group -->
	<div class="wp-block-group"></div>
	<!-- /wp:group -->

	<!-- wp:group {"layout":{"type":"flex","flexWrap":"wrap"},"fontSize":"overline"} -->
	<div class="wp-block-group has-overline-font-size"><!-- wp:post-date {"format":"F j, Y","isLink":true} /-->

		<!-- wp:paragraph -->
		<p>⌙</p>
		<!-- /wp:paragraph -->

		<!-- wp:post-terms {"term":"category"} /--></div>
	<!-- /wp:group -->

	<!-- wp:post-title {"textAlign":"left","level":1,"fontSize":"headline2"} /-->

	<!-- wp:post-author {"showBio":false} /--></div>
<!-- /wp:group -->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"}}}} -->
<main class="wp-block-group" style="padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px"><!-- wp:post-content {"layout":{"inherit":true}} /--></main>
<!-- /wp:group -->

<!-- wp:group {"tagName":"footer","style":{"spacing":{"padding":{"top":"3rem","right":"0rem","bottom":"1.5rem","left":"0rem"}}},"layout":{"contentSize":"840px","wideSize":"100vw"}} -->
<footer class="wp-block-group" style="padding-top:3rem;padding-right:0rem;padding-bottom:1.5rem;padding-left:0rem"><!-- wp:group {"style":{"spacing":{"padding":{"top":"0rem","right":"0rem","bottom":"0rem","left":"1rem"}}},"layout":{"type":"flex","allowOrientation":false},"fontSize":"caption"} -->
	<div class="wp-block-group has-caption-font-size" style="padding-top:0rem;padding-right:0rem;padding-bottom:0rem;padding-left:1rem"><!-- wp:post-terms {"term":"post_tag","fontSize":"subtitle1"} /--></div>
	<!-- /wp:group --></footer>
<!-- /wp:group -->

<!-- wp:group {"tagName":"footer","layout":{"contentSize":"840px","wideSize":"100vw"}} -->
<footer class="wp-block-group"><!-- wp:columns {"style":{"spacing":{"margin":{"top":"0em","bottom":"1.5em"}}}} -->
	<div class="wp-block-columns" style="margin-top:0em;margin-bottom:1.5em"><!-- wp:column -->
		<div class="wp-block-column"><!-- wp:post-navigation-link {"type":"previous","label":"←","showTitle":true,"linkLabel":true} /--></div>
		<!-- /wp:column -->

		<!-- wp:column -->
		<div class="wp-block-column"><!-- wp:post-navigation-link {"textAlign":"right","label":"→","showTitle":true,"linkLabel":true,"position":"after"} /--></div>
		<!-- /wp:column --></div>
	<!-- /wp:columns --></footer>
<!-- /wp:group -->

<!-- wp:group {"layout":{"wideSize":"100vw","contentSize":"840px"}} -->
<div class="wp-block-group"><!-- wp:post-comments /--></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","className":"site-footer-container"} /-->
