.mtb-card__media-container-focused {
	border: 4px rgb(0, 113, 161) solid;

}

.mtb-card__media-actions {
	display: none;
	position: absolute;
	right: 10px;
	top: 10px;
	background: #fff;
	border: 1px solid rgba(66, 88, 99, 0.4);
	border-radius: 4px;
	transition: box-shadow 0.2s ease-out;
	height: 27px;

	> button {
		height: 25px;
	}
}

.mtb-card__media-actions-shown {
	display: block !important;
}

.mtb-card__media-close-button {
	padding: 2px !important;
}

.mtb-card__supporting-text {
	padding: 0 1rem 8px 1rem;
}

.card-container-controls {

	button {
		height: 25px;
	}

	.card-number-title {
		margin-top: 2px;
	}
}

.mtb-card .components-placeholder {
	margin-bottom: 0;
}
