.icon-position {
  display: inline-flex;
  margin: 10px 0;
  overflow: hidden;
  border: 1px solid #007EBA;
  border-radius: 3px;
  
  &__list-item {
    margin: 0;

    &__button {
      display: block;
      color: #007EBA;
      background: none;
      border: none;
      padding: 10px;
      cursor: pointer;
      outline: none;

      &--active {
        background-color: #007EBA;
        color: #FFF;
      }
    }

    &:not(:first-child):not(:last-child) {
      border-left: 1px solid #007EBA;
      border-right: 1px solid #007EBA;
    }
  }
}