.list-item {
	&--with-secondary {
		height: auto !important;
		padding-bottom: 10px !important;
	}

	&__text-container {
		overflow: visible !important;

		&__text {
			display: inline !important;
		}
	}
}

