
.edit-post-visual-editor .mdc-text-field__input {
	pointer-events: none;

	&:focus {
		border: none !important;
		box-shadow: none !important;
		outline: none !important;
	}
}

.mdc-text-field-container--not-required {
	margin-top: 40px;
}

.mdc-text-field-container {
	font-size: 8px;
	display: flex;
	flex-direction: column;

	.mdc-text-field--outlined {
		background-color: transparent !important;
	}

	.required {
		color: #f00;
		margin-bottom: 10px;
		text-align: right;
		font-size: 0.8rem;
		font-weight: 600;
	}

	.components-base-control__field {
		flex-direction: row;
		align-items: center;
		justify-content: flex-end;
	}

	.mdc-text-field__input {
		display: flex;
		padding: 20px 16px 6px !important;
		border: none !important;
		background-color: transparent;
		z-index: 1;
		font-size: 1rem !important;

		&:focus {
			padding: 20px 16px 6px !important;
		}
	}

	.mdc-floating-label {
		margin: 0 !important;
		top: calc(50% - 5px) !important;
	}

	.mdc-text-field--textarea  .mdc-floating-label {
		top: 10px !important;
	}
}

.editor-styles-wrapper .mdc-floating-label {
	font-weight: 400 !important;
}

.mdc-text-field--custom-full {
	width: 100%;
}
