/* Block styles */
.masonry-grid {
	display: flex;
	padding: 24px;
	padding: var(--mdc-layout-grid-margin-desktop, 24px);
	width: auto;
}

.masonry-grid_column {
	padding-left: 24px;
	padding-left: var(--mdc-layout-grid-margin-desktop, 24px);
	background-clip: padding-box;

	&:first-child {
		padding-left: 0;
	}
}

/* @todo adjust width based on breakpoints */
.layout-masonry-2 {

	& .masonry-grid_column {
		width: 50%;
	}
}

.layout-masonry-3 {

	& .masonry-grid_column {
		width: 33.33%;
	}
}

.layout-masonry-4 {

	& .masonry-grid_column {
		width: 25%;
	}
}

.masonry-grid_column > div {
	margin-bottom: 24px;
	margin-bottom: var(--mdc-layout-grid-margin-desktop, 24px);
}

.single-post-card__primary {
	padding: 1em;
}

.single-post-card .mdc-button__label {
	white-space: nowrap;
}

/* @todo: Will need refactoring. */
.single-post-card__title {
	margin: 0 !important;
}

/* @todo: Will need refactoring. */
.single-post-card__subtitle {
	padding: 1em 1em 0 0;
	margin: 0 !important;
}

/* @todo: Will need refactoring. */
.single-post-card__secondary {
	color: var(--mdc-theme-text-secondary-on-background, rgba(0, 0, 0, .54));
	padding: 0 1em 8px 1em;
}

/* @todo: Will need refactoring. */
.single-post-card__secondary-text-over-media,
.single-post-card__secondary-text-above-media {
	padding-top: 1em !important;
}

.single-post-card__media.mdc-card__media--square {
	width: 110px;
	height: 110px;
}

.single-post-card-with-text-over-media .mdc-card__media-content {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: end;
	align-items: flex-end;
}

.single-post-card-with-text-over-media .mdc-card__media-content .single-post-card__title,
.single-post-card-with-text-over-media .mdc-card__media-content .single-post-card__subtitle {
	color: #fff !important;
}

.single-post-card__list .single-post-card__primary {
	flex: 1;
}

.single-post-card__list .single-post-card__primary-action {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
}

.mdc-card__action-buttons,
.mdc-card__action-icons {
	flex-wrap: wrap;
}
