@import "./style.css";

.is-selected > .mdc-data-table {
	overflow: hidden !important;
}

.mdc-data-table {
	width: 100%;

	tfoot {
		border: none;
	}
}

.mdc-data-table__caption {
	padding: 10px 0;
}

.mdc-data-table__header-cell,
.mdc-data-table__cell {

	&.is-selected {
		border: 1px solid #00a0d2 !important;
	}
}

.mdc-data-table {
	background-color: var(--mdc-theme-surface, #fff) !important;
	border-color: rgba(0, 0, 0, 0.12) !important;
	border-color: rgba(var(--mdc-theme-on-surface-rgb), .12) !important;

	& thead {
		border: none !important;
	}
}

