.is-selected > .mdc-data-table {
	overflow: hidden !important;
}

.mdc-data-table {
	width: 100%;

	tfoot {
		border: none;
	}
}

.mdc-data-table__caption {
	padding: 10px 0;
}

.mdc-data-table__header-cell,
.mdc-data-table__cell {

	&.is-selected {
		border: 1px solid #00a0d2 !important;
	}
}
