/* Material Icons */
.material-icons {
	font-family: var(--mdc-icons-font-family) !important;
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	font-feature-settings: "liga";
	-webkit-font-smoothing: antialiased;
}

/* Typography */
.mdc-typography--headline1 {
	font-style: var(--mdc-typography-headline1-font-style, normal);
}

.mdc-typography--headline2 {
	font-style: var(--mdc-typography-headline2-font-style, normal);
}

.mdc-typography--headline3 {
	font-style: var(--mdc-typography-headline3-font-style, normal);
}

.mdc-typography--headline4 {
	font-style: var(--mdc-typography-headline4-font-style, normal);
}

.mdc-typography--headline5 {
	font-style: var(--mdc-typography-headline5-font-style, normal);
}

.mdc-typography--headline6,
.mdc-drawer__title,
.mdc-top-app-bar__title {
	font-style: var(--mdc-typography-headline6-font-style, normal);
}

.mdc-typography--subtitle1,
.mdc-floating-label,
.mdc-image-list__label,
.mdc-list,
.mdc-list-group__subheader,
.mdc-select__selected-text,
.mdc-text-field__input,
.mdc-text-field__affix {
	font-style: var(--mdc-typography-subtitle1-font-style, normal);
}

.mdc-typography--subtitle2,
.mdc-data-table__header-cell,
.mdc-drawer .mdc-list-item,
.mdc-slider .mdc-slider__value-indicator-text {
	font-style: var(--mdc-typography-subtitle2-font-style, normal);
}

.mdc-typography--body1 {
	font-style: var(--mdc-typography-body1-font-style, normal);
}

.mdc-typography--body2,
.mdc-banner__text,
.mdc-chip,
.mdc-data-table__content,
.mdc-data-table__cell,
.mdc-data-table__pagination,
.mdc-drawer .mdc-list-group__subheader,
.mdc-drawer__subtitle,
.mdc-form-field,
.mdc-list-item__secondary-text {
	font-style: var(--mdc-typography-body2-font-style, normal);
}

.mdc-typography--caption,
.mdc-list-item__meta:not(.material-icons),
.mdc-select-helper-text,
.mdc-text-field-helper-text,
.mdc-text-field-character-counter,
.mdc-tooltip__surface {
	font-style: var(--mdc-typography-caption-font-style, normal);
}

.mdc-typography--button,
.mdc-button,
.mdc-tab {
	font-style: var(--mdc-typography-button-font-style, normal);
}

.mdc-typography--overline {
	font-style: var(--mdc-typography-overline-font-style, normal);
}

/* Image List */
.mdc-image-list__item {
	margin: 0;
}

.mdc-image-list__item-wrap {
	display: block;
	text-decoration: none !important;
}

.mdc-image-list__image {
	border-radius: var(--mdc-image-list-radius, 4px);
}

.mdc-image-list--with-text-protection .mdc-image-list__supporting {
	border-bottom-left-radius: var(--mdc-image-list-radius, 4px);
	border-bottom-right-radius: var(--mdc-image-list-radius, 4px);
}

.mdc-image-list__image-aspect-container .mdc-image-list__image {
	object-fit: cover;
}

/**
 * Corner radius styles
 */
.mdc-button {
	border-radius: var(--mdc-button-radius, 4px);
}

.mdc-button .mdc-button__ripple {
	border-radius: inherit;
}

.mdc-card {
	border-radius: var(--mdc-card-radius, 4px);
}

.mdc-card__link {
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
}

.mdc-card--outlined.has-post-thumbnail {
	overflow: hidden;

	& .mdc-card__link {
		margin-top: -1px;
	}
}

/* Data Table */
.mdc-data-table {
	border-radius: var(--mdc-data-table-radius, 4px);
}

.mdc-data-table__header-cell {
	font-weight: bold;
}

.mdc-data-table__header-cell,
.mdc-data-table__cell,
.mdc-menu .mdc-list {
	color: rgba(var(--mdc-theme-on-surface-rgb, 0, 0, 0), .87);
}

.mdc-data-table__row {
	border-color: rgba(var(--mdc-theme-on-surface-rgb, 0, 0, 0), .12);
}

/* Tabs */
.mdc-tab-content {
	margin: 1em;

	display: none;

	&--active {
		display: block;
	}
}

/* List */
.mdc-list--avatar-list .mdc-list-item__graphic.material-icons {
	font-size: 40px;
}

.mdc-list:not(.mdc-list--two-line) {

	.mdc-list-item__primary-text {
		margin-bottom: 0;
	}
}

.list-item__link {
	position: absolute;
	width: 100%;
	height: 100%;
	text-decoration: none;
	outline: none;

	/* Hide if URL is invalid */
	&[href="#"] {
		display: none;
	}
}

/* Text Field */
.mdc-text-field {
	border-radius: var(--mdc-text-field-radius, 4px) var(--mdc-text-field-radius, 4px) 0 0;
}

.mdc-text-field--outlined .mdc-notched-outline .mdc-notched-outline__leading {
	border-radius: var(--mdc-text-field-radius, 4px) 0 0 var(--mdc-text-field-radius, 4px);
}

.mdc-text-field--outlined .mdc-notched-outline .mdc-notched-outline__trailing {
	border-radius: 0 var(--mdc-text-field-radius, 4px) var(--mdc-text-field-radius, 4px) 0;
}

.mdc-text-field--textarea .mdc-floating-label {
	left: 16px;
}

.mdc-text-field--outlined.mdc-text-field--textarea .mdc-floating-label {
	left: 4px;
}

.mdc-text-field--textarea .mdc-floating-label--float-above {
	transform: translateY(-108%) scale(1);
}

/* Surface and On-Surface styles */
.mdc-button--outlined:not(:disabled),
.mdc-button--outlined:disabled {
	border-color: rgba(var(--mdc-theme-on-surface-rgb, 0, 0, 0), .12);
}

.mdc-button--outlined:disabled {
	color: rgba(var(--mdc-theme-on-surface-rgb, 0, 0, 0), .38);
}

.mdc-card,
.mdc-card__link,
.single-post-card__title,
.mtb-card__title {
	color: var(--mdc-theme-on-surface, #000);
	text-decoration: none;
}

.mdc-card--outlined {
	border-color: var(--mdc-theme-surface-mix-12, #e0e0e0);
}

.single-post-card__subtitle,
.mtb-card__secondary-text,
.mtb-card__supporting-text {
	color: rgba(var(--mdc-theme-on-surface-rgb, 0, 0, 0), .54);
}

.mdc-text-field:not(.mdc-text-field--disabled) {
	background-color: var(--mdc-theme-surface-mix-4, #f5f5f5);

	&.mdc-text-field--outlined {
		background-color: transparent;

		& .mdc-notched-outline__leading,
		& .mdc-notched-outline__notch,
		& .mdc-notched-outline__trailing {
			background-color: var(--mdc-theme-surface-mix-4, #f5f5f5);
		}
	}

	& .mdc-text-field__input {
		color: rgba(var(--mdc-theme-on-surface-rgb, 0, 0, 0), .87);
	}

	& .mdc-floating-label,
	& + .mdc-text-field-helper-line .mdc-text-field-helper-text,
	& .mdc-text-field-character-counter,
	& + .mdc-text-field-helper-line .mdc-text-field-character-counter {
		color: rgba(var(--mdc-theme-on-surface-rgb, 0, 0, 0), .6);
	}

	.mdc-text-field__icon--leading,
	.mdc-text-field__icon--trailing {
		color: rgba(var(--mdc-theme-on-surface-rgb, 0, 0, 0), .54);
	}
}

.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
	color: rgba(var(--mdc-theme-primary-rgb, 98, 0, 238), .87);
}

.mdc-select:not(.mdc-select--disabled) {
	background-color: var(--mdc-theme-surface-mix-4, #f5f5f5);

	& .mdc-select__anchor {
		background-color: var(--mdc-theme-surface-mix-4, #f5f5f5);
	}

	& .mdc-select__native-control,
	& .mdc-select__selected-text,
	& .mdc-floating-label {
		color: rgba(var(--mdc-theme-on-surface-rgb, 0, 0, 0), .87);
		border-bottom-color: rgba(var(--mdc-theme-on-surface-rgb, 0, 0, 0), .42);
	}
}

.mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate) ~ .mdc-checkbox__background {
	border-color: rgba(var(--mdc-theme-on-surface-rgb, 0, 0, 0), .54);
}

.mdc-checkbox__native-control[disabled]:not(:checked):not(:indeterminate) ~ .mdc-checkbox__background {
	border-color: rgba(var(--mdc-theme-on-surface-rgb, 0, 0, 0), .38);
}

.mdc-checkbox__native-control[disabled]:checked ~ .mdc-checkbox__background,
.mdc-checkbox__native-control[disabled]:indeterminate ~ .mdc-checkbox__background {
	background-color: rgba(var(--mdc-theme-on-surface-rgb, 0, 0, 0), .38);
}

.mdc-radio .mdc-radio__native-control:enabled:not(:checked) + .mdc-radio__background .mdc-radio__outer-circle {
	border-color: rgba(var(--mdc-theme-on-surface-rgb, 0, 0, 0), .54);
}

.mdc-drawer {
	border-color: rgba(var(--mdc-theme-on-surface-rgb, 255, 255, 255), 0.12);
	background-color: var(--mdc-theme-surface, #fff);

	& .mdc-drawer__title,
	& .mdc-list-item {
		color: rgba(var(--mdc-theme-on-surface-rgb, 255, 255, 255), 0.87);
	}

	& .mdc-drawer__subtitle {
		color: rgba(var(--mdc-theme-on-surface-rgb, 255, 255, 255), 0.6);
	}

	& .mdc-list-item--selected,
	& .mdc-list-item--activated {
		color: var(--mdc-theme-primary, #6200ee);
	}
}

:not(.mdc-list--non-interactive) > :not(.mdc-list-item--disabled).mdc-list-item::before,
:not(.mdc-list--non-interactive) > :not(.mdc-list-item--disabled).mdc-list-item::after {
	background-color: var(--mdc-theme-on-surface, #000);
}

.mdc-dialog {

	& .mdc-dialog__title {
		color: rgba(var(--mdc-theme-on-surface-rgb, 255, 255, 255), 0.87);
	}

	& .mdc-dialog__content,
	& .mdc-list {
		color: rgba(var(--mdc-theme-on-surface-rgb, 255, 255, 255), 0.6);
	}
}

.mdc-chip {
	background-color: var(--mdc-theme-surface-mix-12, #e0e0e0);
	border-radius: var(--mdc-chip-radius, 16px);
	color: rgba(var(--mdc-theme-on-surface-rgb, 255, 255, 255), 0.87);

	&.mdc-chip--selected {
		color: var(--mdc-theme-primary, #6200ee);
	}
}

.mdc-icon-button::before,
.mdc-icon-button::after {
	background-color: var(--mdc-theme-on-surface, #000);
}

.mdc-switch:not(.mdc-switch--checked)
.mdc-switch__track {
	background-color: var(--mdc-theme-on-surface, #000);
}

.mdc-tab-bar {
	background-color: var(--mdc-theme-background, var(--mdc-theme-surface, #fff));
}

.mdc-tab {

	& .mdc-tab__text-label {
		color: rgba(var(--mdc-theme-on-surface-rgb, 0, 0, 0), 0.6);
	}

	& .mdc-tab__icon {
		color: rgba(var(--mdc-theme-on-surface-rgb, 0, 0, 0), 0.5);
	}

	&--active {

		& .mdc-tab__icon,
		& .mdc-tab__text-label {
			color: var(--mdc-theme-primary, #6200ee);
		}
	}
}

/* Buttons */
.wp-block-material-buttons {
	align-items: center;
	display: flex;

	& .mdc-button {
		margin-right: 8px;
	}
}
