.icons-search {
  display: flex;
  align-items: center;
  margin: 0 -5px 0 -5px;

  &__search-input {
    padding: 0 5px;
  }

  &__selected-icon {
    padding: 0 5px;
    margin-top: 15px;
  }
}

.icons-container {
  display: flex;
  max-height: 250px;
  overflow-y: scroll;
  overflow-x: hidden;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 0 -2px 0 -2px;

  &__icon {
    width: 20%;
    max-width: 50px;
    padding: 2px;

    &__icon-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding: 8px 3px;

      border: 1px solid transparent;
      color: #575C67;
      background-color: #F5F5F5;
      cursor: pointer;
      border-radius: 2px;

      &:hover:not(&--active) {
        border-color: #3F7ABE;
      }
  
      &--active {
        color: #FFF;
        background-color: #3F7ABE;
      }
    }
  }
}