.icons-container {
	display: flex;
	max-height: 250px;
	overflow-y: scroll;
	overflow-x: hidden;
	flex-wrap: wrap;
	align-items: flex-start;
	margin: 0 -2px 0 -2px;

	&__icon {
		width: 20%;
		max-width: 50px;
		padding: 2px;

		&__icon-btn {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			padding: 8px 3px;

			border: 1px solid transparent;
			color: #575c67;
			background-color: #f5f5f5;
			cursor: pointer;
			border-radius: 2px;

			&:hover:not(&--active) {
				border-color: #3f7abe;
			}

			&--active {
				color: #fff;
				background-color: #3f7abe;
			}
		}
	}
}
