[contenteditable="true"].button-label {
  white-space: nowrap;
  overflow: hidden;
}

[contenteditable="true"].button-label br {
  display: none;

}

[contenteditable="true"].button-label * {
  display: inline;
  white-space: nowrap;
}

.styles-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -5px 0 -5px;

  &__style-box {
    width: 50%;
    text-align: center;
    padding: 5px;
    margin: 5px 0;
    background: none;
    outline: none;
    border: 2px solid transparent;

    &--active {
      border-color: #565D66;
      border-radius: 3px;
    }

    &__icon {
      height: 82px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #D1D2D3;
      border-radius: 3px;
      cursor: pointer;
    }

    &__text {
      margin-top: 5px;
    }
  }
}

.icon-position {
  display: inline-flex;
  margin: 10px 0;
  overflow: hidden;
  border: 1px solid #007EBA;
  border-radius: 3px;
  
  &__list-item {
    margin: 0;

    &__button {
      display: block;
      color: #007EBA;
      background: none;
      border: none;
      padding: 10px;
      cursor: pointer;
      outline: none;

      &--active {
        background-color: #007EBA;
        color: #FFF;
      }
    }

    &:not(:first-child):not(:last-child) {
      border-left: 1px solid #007EBA;
      border-right: 1px solid #007EBA;
    }
  }
}