[contenteditable="true"].button-label {
  white-space: nowrap;
  overflow: hidden;
  cursor: text;
}

[contenteditable="true"].button-label br {
  display: none;

}

[contenteditable="true"].button-label * {
  display: inline;
  white-space: nowrap;
}

.mdc-button--outlined:not(:disabled) {
  border-color: inherit !important;
}