/* Material Color Palette */
.components-material-color-palette__picker {
	& .components-popover__content {
		padding: 8px;
		min-width: 272px !important;
	}

	& .components-circular-option-picker__option-wrapper {
		height: 16px;
		width: 16px;
		margin-right: 2px;
		margin-bottom: 2px;
	}

	& .components-circular-option-picker__option {

		&:focus {
			&::after {
				width: 12px;
				height: 12px;
				top: 2px;
				left: 2px;
				border: none;
				background: #fff;
			}
		}

		&.is-pressed + .dashicons-saved {
			left: 2px;
			top: 2px;
			z-index: 1;
			width: 12px;
			height: 12px;
		}
	}
}
