/* Material Color Palette */
.components-popover:not(.components-tooltip) .components-popover__content {
	padding: 8px;
}

.components-material-color-palette__picker {

	& .components-circular-option-picker__option-wrapper__row {
		display: flex;
	}

	& .components-circular-option-picker__option-wrapper {
		width: 6.29%;
		margin-right: 0.85%;
		margin-bottom: 0.85%;
		display: block;
		height: 0;
		padding-bottom: 6.29%;
	}

	& .components-circular-option-picker__option {
		height: 0;
		padding-bottom: 100%;

		&:focus {

			&::after {
				top: 15%;
				left: 15%;
				width: 70%;
				height: 70%;
				border: none;
				background: #fff;
			}
		}

		&.is-pressed + .dashicons-saved {
			top: 15%;
			left: 15%;
			width: 70%;
			height: 70%;
			z-index: 1;
		}
	}
}
