.masonry-grid {
	display: flex;
	margin-left: -30px; /* gutter size offset */
	width: auto;
}

.masonry-grid_column {
	padding-left: 30px; /* gutter size */
	background-clip: padding-box;
}

.masonry-grid_column > div {
	margin-bottom: 20px;
}

/* @todo: Will need refactoring. */
.single-post-card {
	font-size: 16px;
}

.single-post-card__primary {
	padding: 1em;
}

.single-post-card .mdc-button__label {
	white-space: nowrap;
}

/* @todo: Will need refactoring. */
.single-post-card__title {
	margin: 0 !important;
	font-size: 1.25em !important;
	font-weight: 500 !important;
	letter-spacing: .0125em !important;
	font-family: Roboto, sans-serif !important;
}

/* @todo: Will need refactoring. */
.single-post-card__subtitle {
	padding: 1em 1em 0 0;
	color: rgba(0, 0, 0, 0.54) !important;
	margin: 0 !important;
	font-size: .875em !important;
	line-height: 1.375em !important; /* stylelint-disable-line */
	font-weight: 500 !important;
	letter-spacing: .0071428571em !important;
	font-family: Roboto, sans-serif !important;
}

/* @todo: Will need refactoring. */
.single-post-card__secondary {
	color: rgba(0, 0, 0, 0.54);
	padding: 0 1em 8px 1em;
}

/* @todo: Will need refactoring. */
.single-post-card__secondary-text-over-media,
.single-post-card__secondary-text-above-media {
	padding-top: 1em !important;
}

.single-post-card__media.mdc-card__media--square {
	width: 110px;
	height: 110px;
}

.single-post-card-with-text-over-media .mdc-card__media-content {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: end;
	align-items: flex-end;
}

.single-post-card-with-text-over-media .mdc-card__media-content .single-post-card__title,
.single-post-card-with-text-over-media .mdc-card__media-content .single-post-card__subtitle {
	color: #fff !important;
}

.single-post-card__list .single-post-card__primary-action {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
}

.single-post-card__list .single-post-card__primary {
	flex: 1;
}

.mdc-card__action-buttons,
.mdc-card__action-icons {
	flex-wrap: wrap;
}
