.masonry-grid {
	display: flex;
	flex-direction: column;
	margin: 24px 0;
	margin: var(--mdc-layout-grid-margin-desktop, 24px) 0;
	width: auto;

	@media (--medium-viewport) {
		flex-direction: row;
	}
}

.masonry-grid_column {
	background-clip: padding-box;
	box-sizing: content-box;
	padding-left: 0;

	@media (--medium-viewport) {
		padding-left: 24px;
		padding-left: var(--mdc-layout-grid-margin-desktop, 24px);
	}

	&:first-child {
		padding-left: 0;
	}
}

/* @todo adjust width based on breakpoints */
.layout-masonry-2 {

	& .masonry-grid_column {
		width: 100%;

		@media (--medium-viewport) {
			width: 50%;
		}
	}
}

.layout-masonry-3 {

	& .masonry-grid_column {

		@media (--medium-viewport) {
			width: 33.33%;
		}
	}
}

.layout-masonry-4 {

	& .masonry-grid_column {

		@media (--medium-viewport) {
			width: 25%;
		}
	}
}

.masonry-grid_column > div {
	margin-bottom: 24px;
	margin-bottom: var(--mdc-layout-grid-margin-desktop, 24px);
}
