.mdc-tab-scroller__scroll-content .block-editor-block-list__layout {
  display: flex;

  &:first-child {
    margin-left: 50px;
  }
}

.mdc-tab-scroller__scroll-area {
  overflow-x: scroll !important;
}

.mdc-tab-scroller {
  overflow-y: visible !important;
}